*.so
*.pyc
*.bin
*.exe
*.dylib
*.test
*.out
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
__pycache__/
build/
dist/
eggs/
.eggs/
lib/
lib64/
target/
env/
site/

**/.DS_Store
*.log
.eslintcache
